

img {
    vertical-align: middle;
    margin-bottom: 0.75em;
  }
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

